.focus-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 75%;
    background: #fff;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}